<div class="col-md-4">
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" (change)="handleChange($event)" data-dona="Lagkage" name="custom-radio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio1">Lagkage</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" (change)="handleChange($event)" data-dona="Brande krans" name="custom-radio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio2">Brande krans</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio3" (change)="handleChange($event)" data-dona=">Dagmar tærte" name="custom-radio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio3">Dagmar tærte</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio4" (change)="handleChange($event)" data-dona="Cola" name="custom-radio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio4">Cola</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio5" (change)="handleChange($event)" data-dona="Slikkepind" name="custom-radio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio5">Slikkepind</label>
  </div>
</div>
<div class="col-md-8">
  <p>Thank you for your donation! Please enter your email so we can thank you in person.</p>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button [disabled]="true" (click)="submit()" id="button" class="btn btn-primary">Commit to donation and put a BIG smile on the developers</button>
</div>