<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-md-center">
    <h1 class="">Breakfast Club</h1>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
        aria-selected="true">Home</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
        aria-selected="false">Profile</a>
      <a class="nav-item nav-link" id="nav-donation-tab" data-toggle="tab" href="#nav-donation" role="tab"
        aria-controls="nav-donation" aria-selected="false">Donation</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">abc</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">cde</div>
    <div class="tab-pane fade" id="nav-donation" role="tabpanel" aria-labelledby="nav-donation-tab">
      <app-donation class="row"></app-donation>
    </div>
  </div>
</div>