/* You can add global styles to this file, and also import other style files */

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tab-pane{
    padding-top: 15px;
}